[user]
	name = Graham Malmgren
	email = gmalmgren@terrapower.com
[core]
	autocrlf = false
[gui]
        recentrepo = C:/codes/mc2
[alias]
        co = checkout
        st = status
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        sed = "!f() { git grep -z --full-name -l \"$1\" | xargs -0 sed -i \"s/$1/$2/g\" ; }; f"
	grep = grep -n
        br = branch
        cl = clean -fxde *.swp
[rev-parse]
	short = 8
[credential]
	helper = manager
